@model ShopGallery.Models.Register

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<asp:Content ID="Content1"  ContentPlaceHolderID="TitleContent" runat="server">
    Register
</asp:Content>

<asp:Content ID="Content2"  ContentPlaceHolderID="MainContent" runat="server">

     <style type="text/css">

         .btnStyle

         {

            border: thin solid #000000;

            line-height:  normal;

            width: 80px;

         }
         .center {
         text-align:center;
         }
         .alignR {
         text-align:right;
         }
         .alignL {
         text-align:left;
         }

     </style>

  

     @using (Html.BeginForm("Register", "Home",  FormMethod.Post))
      { 
     <div>

         <table style="margin-left: 350px" class="center">

            <tr>

                <td>

                    <table style="font-family: Calibri">

                        <tr style="height: 80px">

                            <td colspan="2" class="center">

                                <asp:Label ID="lblBanner" runat="server" Text="Register 
                             New Account" Font-Names="Consolas" Font-Size="Larger" Font-
                             Underline="True"></asp:Label>

                            </td>

                        </tr>

                         <tr>

                            <td style="width: 200px">

                                @Html.LabelFor(m => m.UserName) 

                            </td>

                            <td style="width: 150px">

                                @Html.TextBoxFor(m => m.UserName)

                            </td>

                            <td style="width: 200px;  color: Red" class="alignL">

                                @Html.ValidationMessageFor(m => m.UserName)

                            </td>

                        </tr>

                        <tr>

                            <td style="width: 200px">

                                @Html.LabelFor(m => m.FirstName) 

                            </td>

                            <td style="width: 150px">

                                @Html.TextBoxFor(m => m.FirstName)

                            </td>

                            <td style="width: 200px;  color: Red" class="alignL">

                                @Html.ValidationMessageFor(m => m.FirstName)

                            </td>

                        </tr>

                        <tr>

                            <td>

                                @Html.LabelFor(m => m.LastName)

                            </td>

                            <td>

                                @Html.TextBoxFor(m => m.LastName) 

                            </td>

                            <td style="color: Red">

                                @Html.ValidationMessageFor(m => m.LastName) 

                            </td>

                        </tr>

                        <tr>

                            <td>

                                @Html.LabelFor(m => m.Email)

                            </td>

                            <td>

                                @Html.TextBoxFor(m => m.Email)

                            </td>

                            <td style="color: Red">

                               @Html.ValidationMessageFor(m => m.Email) 

                            </td>

                        </tr>

                        <tr>

                            <td>

                                @Html.LabelFor(m => m.Password)

                            </td>

                            <td>

                                @Html.PasswordFor(m => m.Password)

                            </td>

                            <td style="color: Red">

                                @Html.ValidationMessageFor(m => m.Password)

                            </td>

                        </tr>

                        <tr>

                            <td>
                                @Html.LabelFor(m => m.ConfirmPassword) 
                            </td>

                           <td>
                                @Html.PasswordFor(m => m.ConfirmPassword) 
                            </td>

                            <td style="color: Red">
                                @Html.ValidationMessageFor(m => m.ConfirmPassword) 
                            </td>
                        </tr>                        

                       @* <tr>

                            <td>

                                <%: Html.LabelFor(m => m.Captcha) %>

                            </td>

                            <td>

                                <%: Html.TextBoxFor(m => m.Captcha) %>

                            </td>

                            <td style="color: Red">

                                <%: Html.ValidationMessageFor(m => m.Captcha) %>

                            </td>

                        </tr>*@

                        <tr>

                            <td colspan="2" class="center">
                                
                              
                                
            @*                    @Html.ActionLink("Register","Register","Home",
           new {UserName = this.Model.UserName,Password=this.Model.Password,
               FirstName=this.Model.FirstName,LastName=this.Model.LastName,
               Email=this.Model.Email}, null)*@

                         @*<input type="submit" value="Register" onclick="@Model.Insert()" class="btnStyle" />*@
                              <input type="button" value="Cancel" onclick="return
    Cancel()" class="btnStyle" />
                            </td>

                        </tr>

                        <tr>

                            <td colspan="2" style="color: Red" class="alignR">

                                @Html.ValidationSummary(true)

                            </td>
                        </tr>
                   </table>
                </td>
            </tr>
         </table>
     </div>
     }
</asp:Content>
