@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOn", "Home", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            @Html.ActionLink("Log Off","LogOff","Home")
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Create", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "LogOn", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
